@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    overflow-x: hidden;
    overflow-y: auto;
}
::-webkit-scrollbar{
    width: 0px;
}
@keyframes buttonBorder{
    
}
/* index.css or a dedicated CSS file */
/* index.css or a dedicated CSS file */
.navbar-transition {
    transition: all 0.5s ease-in-out;
  }
  
  .navbar-bg {
    background-color: rgba(0, 0, 0, 0.9); /* Adjust to your desired color and opacity */
  }
  
  .menu-transition {
    transition: opacity 0.5s ease-in-out;
  }
  
  .menu-open {
    opacity: 1;
    pointer-events: auto;
  }
  
  .menu-closed {
    opacity: 0;
    pointer-events: none;
  }
  .md\\:flex {
    display: flex !important;
  }
  .transition-opacity {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .opacity-0 {
    opacity: 0;
  }
  
  .opacity-100 {
    opacity: 1;
  }
  
  .translate-y-10 {
    transform: translateY(10px);
  }
  
  .translate-y-0 {
    transform: translateY(0);
  }
  